@mixin inlineIcon {
	max-width: 24px;
	max-height: 24px;
	padding-right: 16px;
}

@mixin inlineIcon--small {
	max-width: 16px;
	max-height: 16px;
	padding-right: 4px;
}

@mixin border-default {
	border: 1px solid $clr-secondary-lighter;
	border-radius: $bd-radius-default;
}






