// GLobal Namespace (Inspirus Design System)
$g-nmsp: ".pureden";

// Primary Colors
$clr-primary-lighter: #F5FCFF;
$clr-primary-light: #9ADFFF;
$clr-primary-vibrant: #49C5FC;
$clr-primary-dark: #4695C2;
$clr-white: #FFFFFF;

// Secondary Colors
$clr-secondary-lightest: #EDF0F5;
$clr-secondary-lighter: #D2D1D1;
$clr-secondary-light: #828282;
$clr-secondary-dark: #4A4A4A;

// Action and Alerts Colors
$clr-action-green-vibrant: #8BC34A;
$clr-action-green: #5CB02D;
$clr-action-green-dark: #1C7900;
$clr-alert-red-light: #f1c3c3;
$clr-alert-red: #DB6969;
$clr-action-orange-faded: #FFD89E;
$clr-action-orange-vibrant: #FFB64C;
$clr-action-orange: #F36D27;
$clr-action-orange-dark: #D88000;

// Typography Variables
$base-font-size: 16px;
$base-line-height: 24px;

// Font families
$base-font-family: Montserrat, "Helvetica", "Arial", "sans-serif";

// Borders
$bd-radius-small: 4px;
$bd-radius-default: 8px;
$bd-radius-top-round: 8px 8px 0 0;
$bd-radius-large: 16px;
$bd-end-caps: 999px;